:root {
  --leaf-status-red: rgb(209, 61, 64);
  --leaf-status-yellow: rgb(150, 118, 0);
  --leaf-status-green: rgb(0, 148, 63);
  --leaf-status-blue: rgb(0, 134, 178);
  --leaf-status-grey: rgb(122, 122, 122);

  --leaf-status-lightRed: rgb(255, 232, 229);
  --leaf-status-lightYellow: rgb(246, 238, 216);
  --leaf-status-lightGreen: rgb(224, 245, 227);
  --leaf-status-lightBlue: rgb(219, 243, 255);
  --leaf-status-lightGrey: rgb(238, 238, 238);

  --leaf-grey-100: rgb(255, 255, 255);
  --leaf-grey-95: rgb(228, 240, 255);
  --leaf-grey-90: rgb(220, 222, 225);
  --leaf-grey-80: rgb(185, 190, 196);
  --leaf-grey-70: rgb(152, 159, 168);
  --leaf-grey-10: rgb(3, 3, 4);

  --leaf-primary-98: rgb(244, 249, 255);
  --leaf-primary-95: rgb(228, 240, 255);
  --leaf-primary-90: rgb(200, 225, 255);
  --leaf-primary-80: rgb(143, 193, 255);
  --leaf-primary-70: rgb(80, 160, 255);
  --leaf-primary-60: rgb(6, 127, 237);
  --leaf-primary-50: rgb(10, 98, 184);
  --leaf-primary-40: rgb(3, 71, 136);
  --leaf-primary-30: rgb(0, 45, 92);
  --leaf-primary-20: rgb(1, 22, 49);
  --leaf-primary-10: rgb(0, 3, 13);
}

@supports (color: color(display-p3 0 0 0)) {
:root {
  --leaf-status-yellow: color(display-p3 0.58105 0.46311 0);
  --leaf-status-green: color(display-p3 0.2109 0.57645 0.27109);
  --leaf-status-blue: color(display-p3 0.20466 0.5178 0.6896);

  --leaf-status-lightRed: color(display-p3 0.99926 0.90899 0.8976);
  --leaf-status-lightBlue: color(display-p3 0.87265 0.95035 0.99879);
  --leaf-grey-95: color(display-p3 0.90054 0.93901 0.9959);

  --leaf-primary-98: color(display-p3 0.96011 0.97565 0.99859);
  --leaf-primary-80: color(display-p3 0.6007 0.75266 0.98197);
  --leaf-primary-10: color(display-p3 0.0022 0.01218 0.04714);
}
}

.leaf-title {
  font-size: 20px;
  line-height: 32px;
}
.leaf-body {
  font-size: 16px;
  line-height: 24px;
}
.leaf-label {
  font-size: 14px;
  line-height: 20px;
}
.leaf-desc {
  font-size: 12px;
  line-height: 18px;
}
